*{
    /* border: solid #39ff14 1px; */
    font-size: 34px;
    color: white;
    text-align: center;
}

div::-moz-selection { background:transparent; }
div::selection { background:transparent; }

body{
    display: flex;
    justify-content: center;
    background-color: #ebd4d4ee;
}

#x0-y7{
    border-top-left-radius: 25px;
}
#x7-y7{
    border-top-right-radius: 25px;
}
#x0-y0{
    border-bottom-left-radius: 25px;
}
#x7-y0{
    border-bottom-right-radius: 25px;
}

#board{
    border: solid 6px black;
    border-radius: 25px;
    background-color: black;
    display: flex;
    flex-direction: column;

    width: 800px;
    height: 800px;
}

.square{
    flex: 1 0 100px;
    display: flex;
}

.row{
    display: flex;
    flex: 1 0 auto;
}

header{
    margin: 10px;
    display: flex;
    justify-content: center;

}

header button{
    background-color: #7e001f;
    padding: 10px;
    border-radius: 10px;
    border: solid 3px black;
}

.piece:hover, button:hover{
    transform: scale(1.15);
}

.selected{
    transform: scale(1.15);
    border: solid 6px rgb(68, 208, 255);
}

.piece{
    padding: 10px;
}

.image{
    display: block;
    max-width: 100px;
    max-height: 100px;
    box-sizing: border-box;
}



.available-move-bubble{
    content: url(images/bubbles-png-11409.gif);
}

.can-be-killed{
    border:  20px;
    border-style: dashed;
    border-radius: 0px;
}

.can-be-killed.white{
    border-color: black;
}

.can-be-killed.black{
    border-color: white;
}

